In [1]:
import pandas as pd
import numpy as np

In [2]:
target_date_str = '20150302'
target_datetime = pd.to_datetime(target_date_str, format='%Y%m%d')

In [5]:
orders_df = pd.read_csv(f'../OrderLog{target_date_str}/OrderLog{target_date_str}.txt', index_col='NO')

In [8]:
trades_df = pd.read_csv(f'../OrderLog{target_date_str}/TradeLog{target_date_str}.txt')

## 1. Preprocessing

### 1.1 Add DATETIME column with datetime

In [9]:
orders_df['DATETIME'] = pd.to_datetime(target_date_str + orders_df['TIME'].astype(str), format='%Y%m%d%H%M%S%f')

In [10]:
orders_df[(orders_df.SECCODE == 'SBER') & (orders_df.TIME > 100000000) & (orders_df.TIME < 100002000)].DATETIME

NO
10453   2015-03-02 10:00:00.071
10455   2015-03-02 10:00:00.073
10457   2015-03-02 10:00:00.095
10460   2015-03-02 10:00:00.110
10466   2015-03-02 10:00:00.139
                  ...
13079   2015-03-02 10:00:01.904
13103   2015-03-02 10:00:01.931
13104   2015-03-02 10:00:01.931
13105   2015-03-02 10:00:01.931
13130   2015-03-02 10:00:01.960
Name: DATETIME, Length: 243, dtype: datetime64[ns]

In [11]:
trades_df['DATETIME'] = pd.to_datetime(target_date_str + trades_df['TIME'].astype(str), format='%Y%m%d%H%M%S')

In [12]:
trades_df.DATETIME

0        2015-03-02 10:00:00
1        2015-03-02 10:00:00
2        2015-03-02 10:00:00
3        2015-03-02 10:00:00
4        2015-03-02 10:00:00
                 ...
409249   2015-03-02 18:39:58
409250   2015-03-02 18:39:58
409251   2015-03-02 18:39:58
409252   2015-03-02 18:39:58
409253   2015-03-02 18:39:58
Name: DATETIME, Length: 409254, dtype: datetime64[ns]

In [13]:
trades_df

,TRADENO,SECCODE,TIME,BUYORDERNO,SELLORDERNO,PRICE,VOLUME,DATETIME
0,2460134732,URKA,100000,3576,10467,171.1000,320,2015-03-02 10:00:00
1,2460134733,SBERP,100000,6756,10471,53.8200,700,2015-03-02 10:00:00
2,2460134734,RSTI,100000,9605,10473,0.6445,472000,2015-03-02 10:00:00
3,2460134735,TATN,100000,2088,10487,318.8500,1940,2015-03-02 10:00:00
4,2460134736,MOEX,100000,1135,10488,76.2100,330,2015-03-02 10:00:00
...,...,...,...,...,...,...,...,...
409249,2460556953,LSRG,183958,6817292,6920224,582.0000,104,2015-03-02 18:39:58
409250,2460556954,SNGSP,183958,6920241,6920115,41.3450,100,2015-03-02 18:39:58
409251,2460556955,MTLR,183958,6895955,6920251,83.0100,606,2015-03-02 18:39:58
409252,2460556956,TRNFP,183958,6920271,6919704,137490.0000,1,2015-03-02 18:39:58
409253,2460556959,SBER,183958,6920215,6920305,76.1600,10,2015-03-02 18:39:58

In [14]:
orders_df[(orders_df.SECCODE == 'SBER') & (orders_df.ACTION == 2)]

,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATETIME
NO,,,,,,,,,,
10603,SBER,B,100000550,10567,2,0.00,100,2.460135e+09,76.34,2015-03-02 10:00:00.550
10604,SBER,S,100000550,10465,2,76.34,100,2.460135e+09,76.34,2015-03-02 10:00:00.550
10611,SBER,B,100000566,10492,2,76.33,10000,2.460135e+09,76.33,2015-03-02 10:00:00.566
10612,SBER,S,100000566,10572,2,76.33,10000,2.460135e+09,76.33,2015-03-02 10:00:00.566
10645,SBER,B,100000615,10492,2,76.33,50,2.460135e+09,76.33,2015-03-02 10:00:00.615
...,...,...,...,...,...,...,...,...,...,...
14200411,SBER,S,183958468,6920196,2,0.00,190,2.460557e+09,76.15,2015-03-02 18:39:58.468
14200412,SBER,B,183958468,6919675,2,76.12,10,2.460557e+09,76.12,2015-03-02 18:39:58.468
14200413,SBER,S,183958468,6920196,2,0.00,10,2.460557e+09,76.12,2015-03-02 18:39:58.468
14200632,SBER,B,183958846,6920215,2,76.16,10,2.460557e+09,76.16,2015-03-02 18:39:58.846
14200633,SBER,S,183958846,6920305,2,0.00,10,2.460557e+09,76.16,2015-03-02 18:39:58.846

In [15]:
orders_df.VOLUME.dtype

dtype('int64')

In [16]:
sber_orders_df = orders_df[(orders_df.SECCODE == 'SBER')]

In [20]:
sber_orders_df

,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATETIME
NO,,,,,,,,,,
44,SBER,B,100000000,44,1,70.22,50,NaN,NaN,2015-03-02 10:00:00.000
45,SBER,S,100000000,45,1,78.28,10,NaN,NaN,2015-03-02 10:00:00.000
104,SBER,B,100000000,104,1,73.00,213000,NaN,NaN,2015-03-02 10:00:00.000
109,SBER,S,100000000,109,1,76.49,20,NaN,NaN,2015-03-02 10:00:00.000
111,SBER,S,100000000,111,1,77.33,10,NaN,NaN,2015-03-02 10:00:00.000
...,...,...,...,...,...,...,...,...,...,...
14203332,SBER,B,184432649,6844637,0,75.42,10,NaN,NaN,2015-03-02 18:44:32.649
14203377,SBER,B,184439644,6869081,0,76.03,1500,NaN,NaN,2015-03-02 18:44:39.644
14203405,SBER,S,184445635,6507148,0,76.89,460,NaN,NaN,2015-03-02 18:44:45.635
14203423,SBER,S,184450065,4533257,0,78.65,60,NaN,NaN,2015-03-02 18:44:50.065
14203435,SBER,B,184452004,1111987,0,75.01,1500,NaN,NaN,2015-03-02 18:44:52.004

In [17]:
grouped_orders = sber_orders_df[sber_orders_df.ACTION == 2][['ORDERNO', 'VOLUME']].groupby('ORDERNO').sum('VOLUME')
merged_df = sber_orders_df.merge(grouped_orders, left_on='ORDERNO', right_on='ORDERNO', how='left')
icebergs = merged_df[(merged_df.VOLUME_y > merged_df.VOLUME_x) & (merged_df.ACTION == 1)][['ORDERNO']]
icebergs.loc[:, 'IS_ICEBERG'] = np.True_
merged_df = merged_df.merge(icebergs, left_on='ORDERNO', right_on='ORDERNO', how='left')
merged_df.rename(columns={'VOLUME_x': 'VOLUME', 'VOLUME_y': 'VOLUME_SUM'}, inplace=True)
merged_df.IS_ICEBERG.fillna(False, inplace=True)

/var/folders/1w/n9kjkj8978d3_zpfkccf5yd40000gn/T/ipykernel_15530/2139509229.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df.IS_ICEBERG.fillna(False, inplace=True)
/var/folders/1w/n9kjkj8978d3_zpfkccf5yd40000gn/T/ipykernel_15530/2139509229.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  merged_df.IS_ICEBERG.fillna(False, inplace=True)

In [26]:
sber_orders_merged_with_trades = merged_df.merge(
    trades_df[trades_df.SECCODE == 'SBER'].copy().drop(
        columns=['SECCODE', 'TIME', 'PRICE', 'VOLUME', 'DATETIME']
    ),
    left_on='TRADENO',
    right_on='TRADENO',
    how='left',
)

In [28]:
sber_orders_merged_with_trades[sber_orders_merged_with_trades.ACTION == 2].columns

Index(['SECCODE', 'BUYSELL', 'TIME', 'ORDERNO', 'ACTION', 'PRICE', 'VOLUME',
       'TRADENO', 'TRADEPRICE', 'DATETIME', 'VOLUME_SUM', 'IS_ICEBERG',
       'BUYORDERNO', 'SELLORDERNO'],
      dtype='object')

In [14]:
from collections import defaultdict
from dataclasses import dataclass


@dataclass
class Order:
    price: float
    volume: int


class OrderBook:
    def __init__(self, price_max: float, price_min: float, price_delta: float):
        self._buy_book = defaultdict(dict)
        self._sell_book = defaultdict(dict)
        self._top_buy = None
        self._bottom_sell = None
        self._price_delta = price_delta
        self._price_max = price_max
        self._price_min = price_min

    def _find_bottom_sell(self) -> float:
        bottom_sell = self._bottom_sell
        while self._sell_book.get(bottom_sell) is None and bottom_sell <= self._price_max:
            bottom_sell += self._price_delta
        return bottom_sell

    def _find_top_buy(self) -> float:
        top_buy = self._top_buy
        while self._buy_book.get(top_buy) is None and top_buy >= self._price_min:
            top_buy -= self._price_delta
        return top_buy
    
    def get_best_bid(self) -> float | None:
        return self._top_buy
    
    def get_best_ask(self):
        return self._bottom_sell
    
    def add_buy_order(self, price: float, orderno: int, volume: int):
        if self._top_buy is None or price > self._top_buy:
            self._top_buy = price
        self._buy_book[price][orderno] = Order(price, volume)
    
    def add_sell_order(self, price: float, orderno: int, volume: int):
        if self._bottom_sell is None or price < self._bottom_sell:
            self._bottom_sell = price
        self._sell_book[price][orderno] = Order(price, volume)
    
    def cancel_buy_order(self, price: float, orderno: int):
        self._buy_book[price].pop(orderno)
        if len(self._buy_book[price]) == 0:
            self._buy_book.pop(price)
        self._top_buy = self._find_top_buy()
    
    def cancel_sell_order(self, price: float, orderno: int):
        self._sell_book[price].pop(orderno)
        if len(self._sell_book[price]) == 0:
            self._sell_book.pop(price)
        self._bottom_sell = self._find_bottom_sell()

    def trade_buy(
            self,
            price: float,
            orderno: int,
            volume: int,
            is_iceberg: bool = False,
    ):
        self._buy_book[price][orderno].volume -= volume
        if not is_iceberg:
            assert self._buy_book[price][orderno].volume >= 0
        if self._buy_book[price][orderno].volume == 0:
            self._buy_book[price].pop(orderno)
            if len(self._buy_book[price]) == 0:
                self._buy_book.pop(price)
        self._bottom_sell = self._find_bottom_sell()
    
    def trade_sell(
            self,
            price: float,
            orderno: int,
            volume: int,
            is_iceberg: bool = False,
    ):
        self._sell_book[price][orderno].volume -= volume
        if not is_iceberg:
            assert self._sell_book[price][orderno].volume >= 0
        if self._sell_book[price][orderno].volume == 0:
            self._sell_book[price].pop(orderno)
            if len(self._sell_book[price]) == 0:
                self._sell_book.pop(price)
        self._top_buy = self._find_top_buy()

### Columns description
![alt text](../images/fields_description.png "moex columns")

In [35]:
from collections import defaultdict
import math

import tqdm


best_bid = []
best_ask = []
cur_best_bid = None
cur_best_ask = None

price_max = 100
price_min = 0
price_delta = 0.01
# order_book = OrderBook(price_max, price_min, price_delta)
buy_book_volume = defaultdict(int)
sell_book_volume = defaultdict(int)
open_orders = defaultdict(int)


def add_order(
        price: float,
        orderno: int,
        volume: int,
        buy_book_volume: dict,
        sell_book_volume: dict,
        open_orders: dict,
        is_buy: bool,
    ):
    if math.isclose(price, 0):
        return
    open_orders[orderno] += volume
    if is_buy:
        buy_book_volume[price] += volume
    else:
        sell_book_volume[price] += volume


def cancel_order(
        price: float,
        orderno: int,
        volume: int,
        buy_book_volume: dict,
        sell_book_volume: dict,
        open_orders: dict,
        is_buy: bool,
    ):
    if math.isclose(price, 0):
        return
    if orderno not in open_orders:
        raise ValueError(f'Cannot cancel order {orderno}. Not in order book')
    vol_diff = open_orders[orderno] - volume
    if vol_diff < 0:
        raise ValueError(f'Cannot cvancel order {orderno}. '
                         'Volume after cancellation is less than zero')
    if volume == 0:
        open_orders.pop(orderno)
    else:
        open_orders[orderno] = volume
    if is_buy:
        buy_book_volume[price] -= vol_diff
        if math.isclose(buy_book_volume[price], 0):
            buy_book_volume.pop(price)
    else:
        sell_book_volume[price] -= vol_diff
        if math.isclose(sell_book_volume[price], 0):
            sell_book_volume.pop(price)


def trade(
        price: float,
        buy_orderno: int,
        sell_orderno: int,
        volume: int,
        buy_book_volume: dict,
        sell_book_volume: dict,
        open_orders: dict,
        tradeno: int,
    ):
    open_orders[buy_orderno] -= volume
    open_orders[sell_orderno] -= volume
    if math.isclose(open_orders[buy_orderno], 0):
        open_orders.pop(buy_orderno)
    if math.isclose(open_orders[sell_orderno], 0):
        open_orders.pop(sell_orderno)
    assert open_orders[buy_orderno] > 0, f'{buy_orderno};{sell_orderno};{tradeno}'
    assert open_orders[sell_orderno] > 0
    buy_book_volume[price] -= volume
    sell_book_volume[price] -= volume
    if math.isclose(buy_book_volume[price], 0):
        buy_book_volume.pop(price)
    if math.isclose(sell_book_volume[price], 0):
        sell_book_volume.pop(price)
    assert buy_book_volume[price] > 0
    assert sell_book_volume[price] > 0

In [36]:
counter = 0

for idx, row in tqdm.tqdm(sber_orders_merged_with_trades.iterrows()):
    buysell = row['BUYSELL']
    orderno = row['ORDERNO']
    price = row['PRICE']
    volume = row['VOLUME']
    action = row['ACTION']
    is_iceberg = row['IS_ICEBERG']
    time = row['TIME']
    buy_orderno = row['BUYORDERNO']
    sell_orderno = row['SELLORDERNO']
    tradeprice = row['TRADEPRICE']
    tradeno = row['TRADENO']
    


            # if side == 'buy':
            #     buy_book_volume[price] -= remaining_size
            #     bid_volume -= remaining_size
            #     if np.isclose(buy_book_volume[price], 0):
            #         del buy_book_volume[price]
            # elif side == 'sell':
            #     sell_book_volume[price] -= remaining_size
            #     ask_volume -= remaining_size
            #     if np.isclose(sell_book_volume[price], 0):
            #         del sell_book_volume[price]

    if action == 0:
        cancel_order(price, orderno, volume, buy_book_volume, sell_book_volume, open_orders, buysell == 'B')
    elif action == 1:
        add_order(price, orderno, volume, buy_book_volume, sell_book_volume, open_orders, buysell == 'B')
    elif action == 2:
        trade(price, orderno, orderno, volume, buy_book_volume, sell_book_volume, open_orders, tradeno)
    else:
        raise ValueError(f'Unknown action: {row["ACTION"]}')
    counter += 1
    # print(best_bid, best_ask, time, action, price, buysell)
    
    # best_ask = min(sell_book_volume.keys()) if sell_book_volume else None
    # best_bid = max(buy_book_volume.keys()) if buy_book_volume else None
    if counter >= 10000:
        break

827it [00:01, 812.50it/s]

AssertionError: 10567;10567;2460134743.0

In [37]:
sber_orders_merged_with_trades[sber_orders_merged_with_trades.TRADENO == 2460134743]

,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATETIME,VOLUME_SUM,IS_ICEBERG,BUYORDERNO,SELLORDERNO
827,SBER,B,100000550,10567,2,0.00,100,2.460135e+09,76.34,2015-03-02 10:00:00.550,100.0,False,10567.0,10465.0
828,SBER,S,100000550,10465,2,76.34,100,2.460135e+09,76.34,2015-03-02 10:00:00.550,1000.0,False,10567.0,10465.0

In [38]:
sber_orders_merged_with_trades[sber_orders_merged_with_trades.ORDERNO == 10567]

,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATETIME,VOLUME_SUM,IS_ICEBERG,BUYORDERNO,SELLORDERNO
826,SBER,B,100000550,10567,1,0.0,100,NaN,NaN,2015-03-02 10:00:00.550,100.0,False,NaN,NaN
827,SBER,B,100000550,10567,2,0.0,100,2.460135e+09,76.34,2015-03-02 10:00:00.550,100.0,False,10567.0,10465.0

In [39]:
sber_orders_merged_with_trades[sber_orders_merged_with_trades.ORDERNO == 10465]

,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATETIME,VOLUME_SUM,IS_ICEBERG,BUYORDERNO,SELLORDERNO
816,SBER,S,100000139,10465,1,76.34,1000,NaN,NaN,2015-03-02 10:00:00.139,1000.0,False,NaN,NaN
828,SBER,S,100000550,10465,2,76.34,100,2.460135e+09,76.34,2015-03-02 10:00:00.550,1000.0,False,10567.0,10465.0
850,SBER,S,100000700,10465,2,76.34,900,2.460135e+09,76.34,2015-03-02 10:00:00.700,1000.0,False,10647.0,10465.0

In [59]:
trades_df[trades_df.SECCODE == 'SBER'].TIME.max()

np.int64(183958)

In [25]:
orders_df[orders_df['SECCODE'] == 'SBER'].shape

(1994350, 9)

In [14]:
trades_df[trades_df['SECCODE'] == 'SBER'].shape

(82364, 7)

In [49]:
orders_df.TIME.max()

np.int64(184459956)

In [33]:
orders_df[orders_df.SECCODE == 'SBER'].TRADENO.notna().sum()

np.int64(204538)

In [ ]:
full_channel_df.time = pd.to_datetime(full_channel_df.time)
full_channel_df['timestamp'] = full_channel_df['time'].astype('int64')

ticker_df.time = pd.to_datetime(ticker_df.time)
ticker_df['timestamp'] = ticker_df['time'].astype('int64')